html {
    font-family: 'Anuphan', sans-serif;
}

body {
    background: #6fa5ae;
    margin: 0;
    padding: 0;
}

.navbar, .navbar-contents {
    position: fixed;
    height: 3.3em;
    top: 0;
    width: 100%;
    margin: 0;
    list-style-type: none;
    display: block;
    overflow: hidden;
    padding: 0.4em;
    color: lightgrey;
    text-align: center;
    background-color:darkgreen;
    z-index: 99;
}

.navbar-contents a, .navbar-contents button, .navbar-contents input, .navbar-contents form {
    color: hotpink;
    text-align: center;
    padding: 0.4em 0.65em;
    text-decoration: none;
    float: right;
}

.body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 25%;
    width:100%;
    background-color:black;
}

.title {
    color: gold;
    font-size:larger;
}

.subtitles {
    color: goldenrod;
    font-size: medium;
}

.informatie {
    color: white;
    font-size: small;
}
