@using Hotel_.Databases
@model List<Makers>

@{
    ViewData["Title"] = "About us";
}

<section id="makers">
    <div class="container">
        <h2>About us</h2>
        @foreach (Makers maker in Model)
        {
                <h1>@maker.Naam (@maker.Leeftijd jaar)</h1>
            <p>@maker.Informatie</p>
        }
    </div>
</section>