
@{
    ViewData["Title"] = "Book a room";
}
<section id="contact">
  <div class="container">
    <h2>Book a room</h2>
    <form action="#" method="POST">
      <label for="check-in">Check-in Date:</label>
      <input type="date" id="check-in" name="check-in">

      <label for="check-out">Check-out Date:</label>
      <input type="date" id="check-out" name="check-out">

      <label for="guests">Number of Guests:</label>
      <input type="number" id="guests" name="guests" min="1" max="6">

      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>

      <button type="submit">Submit</button>
    </form>
  </div>
</section>


