@using Hotel_.Databases
@model List<Locaties>

@{
    ViewData["Title"] = "Locations";
}

<section id="locaties">
    <h2>Locaties</h2>
    @foreach (Locaties locatie in Model)
    {
        <a href="location/@locatie.Id">
            <p>@locatie.Stad</p>
        </a>

    }
</section>