@using Hotel_.Databases
@model List<locaties>

@{
    ViewData["Title"] = "Locations";
}
<h1>@ViewData["Title"]</h1>

<section id="locaties">
    @foreach (locaties locatie in Model)
    {
        <a href="location/@locatie.Id">
            <p>@locatie.Stad</p>
        </a>

    }
</section>