@{
    ViewData["Title"] = "Register";
}

<section id="contact">
  <div class="container">
    <h2>Register your account</h2>
    <form action="#" method="POST">
      <label for="naam">Name:</label>
      <input type="text" id="naam" name="naam" required>
      
      <label for="emailadress">Emailadress:</label>
      <input type="email" id="emailadress" name="emailadress" required>

      <label for="wachtwoord">wachtwoord:</label>
      <input type="password" id="wachtwoord" name="wachtwoord" required>

      <button type="submit">Submit</button>
    </form>
  </div>
</section>