@{
    ViewData["Title"] = "404 - Page Not Found";
}

<section id="error">
	<div class="container">
		<h1>Oops! Page Not Found</h1>
		<p>We're sorry, but the page you're looking for doesn't exist.</p>
		<p>Please check that you've typed the correct URL or try searching for the page using the search bar.</p>
		<a href="/">Go to Home Page</a>
	</div>
</section>