<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Hotel Chain</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body>
    <header>
        <nav>
          <div class="logo">
            <a href="/">
              <img src="/images/logo.png" alt="Logo">
            </a>
          </div>
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/booking">Booking</a></li>
             <li><a href="/login">Login</a></li>
             <li><a href="/registreer">Register</a></li>
             <li><a href="/aboutus">About us</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </nav>
    </header>

    @RenderBody()


    <footer>
    </footer>


</body>
</html>
