<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400&display=swap" rel="stylesheet">

</head>

<body>
    <section class="navbar">
    <ul class=navbar-contents>
        <a class="link" href="/">Homepage</a>
        <a class="link" href=/Pagina1> pagina1 </a>
        <a class="link" href=/Pagina2> pagina2 </a>
        <a class="link" href=/Pagina3> pagina3 </a>
        <a class="link" href=/Pagina4> pagina4 </a>
    </ul>
    </section>


    <div class="middlebody">
        <br><h1>    @RenderBody()</h1>        
    </div>


    <footer> </footer>


</body>
</html>
